@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* --- CORREÇÃO DO TEXTO TRANSPARENTE DOS CAMPOS --- */
input, select, textarea {
  color: #18181b !important; /* Força o texto digitado a ficar escuro */
  font-weight: 600 !important; /* Deixa a letra um pouco mais visível */
  color-scheme: light !important; /* Impede que o celular deixe o campo escuro por dentro */
}

input::placeholder, select::placeholder, textarea::placeholder {
  color: #a1a1aa !important; /* Texto de dica em cinza claro */
}