@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Força o sistema a ignorar o "Dark Mode" do aparelho, mantendo a nossa identidade visual */
:root {
  color-scheme: light;
}

@layer base {
  /* 2. Garante que TODO campo de texto no sistema tenha a cor escura e bem legível */
  input, select, textarea {
    color: #18181b !important; /* Cor bem escura (zinc-900) */
    font-weight: 600 !important; /* Deixa a letra um pouco mais grossa */
  }

  /* 3. Deixa o texto de "dica" (ex: "Ex: Carolina Herrera") mais claro para não confundir com o que foi digitado */
  input::placeholder, select::placeholder, textarea::placeholder {
    color: #a1a1aa !important; /* Cor cinza média (zinc-400) */
    font-weight: 400 !important;
  }
}