@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Restaurando as variáveis vitais de funcionamento do Next.js */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: transparent;
}

/* 2. Nossa correção para os textos de digitação ficarem 100% visíveis */
input, select, textarea {
  color: #18181b !important; /* Força o texto a ficar quase preto (zinc-900) */
  color-scheme: light; /* Impede que o celular inverta as cores das caixas de texto no modo escuro */
}

input::placeholder, select::placeholder, textarea::placeholder {
  color: #a1a1aa !important; /* Deixa o texto de exemplo cinza médio */
}